<h1>Stupid Coach</h1>

<form action="/answer">
  <label for="question">What is your question</label>
  <input  type="text" name="couchAnswer" id="question">
  <input type="submit" value="Ask!">
</form>
